div{
    width: 800px;
    height: 500px;
    background-image: url(./Assets_Football/Field.png);
    background-size: 800px 500px;
    background-repeat: no-repeat;
}
img{
    width: 70px;
    height: 100px;
    position: relative;
}